* {
    box-sizing: border-box;
  }

  section {
    margin: auto; 
    width: 60%;
  }

  .container {
    width: 98%;
    margin: auto;
    overflow: hidden;
  }
  
  header {
    background-color: #261210;
    color: #ffffff;
    padding-top: 5px;
    min-height: 70px;
    border-radius: 10px;
  }
  
  header #branding h1 {
    margin: 0px;
    padding-top: 10px;
  }
  
  header #branding {
    float: left;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 10px;
    background:  #f3ebf6;
  }
  
  .column {   
    width: 100%;
  }
  
  .article-image {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 200px;
  }
  
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     border-radius: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  p.published-by {
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    section {   
      width: 100%;
    }
  }
